<h1>{{ title }}</h1>
<h2>My favorite hero is: {{ myHero.name }}</h2>
<p>Heros:</p>
<ul>
    <li *ngFor="let hero of heros">
    {{ hero.name }}
    </li>
</ul>
<p *ngIf="heros.length > 3">There are many heroes!</p>
<click-me></click-me>
<keyup></keyup>
<loopback></loopback>